@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
 background-color: #efefef;
}

 
 .header {
    color: #fff;
    padding: 10px 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 7vw;
  }
  .nav-links a {
    color: #111111;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
  }
  .nav-links a:hover {
    color: #E55C0E;
  }
  
  .nav-links a.router-link-active.router-link-exact-active {
    background-color: #d7d7d7;
    color: black;
    border-radius: 60px; 
    transition: background-color 0.3s ease; 
  }

/* Style du titre */
.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 200px;
  font-weight: 900;
  text-align: center;
  color: #E55C0E;
  margin: 0;
  letter-spacing: 1rem;
}

/* Responsive */
@media (max-width: 1200px) {
  .title {
      font-size: 150px;
      letter-spacing: 0.8rem;
  }
}

@media (max-width: 992px) {
  .title {
      font-size: 100px;
      letter-spacing: 0.5rem;
  }
}

@media (max-width: 768px) {
  .title {
      font-size: 70px;
      letter-spacing: 0.3rem;
  }
}

@media (max-width: 480px) {
  .title {
      font-size: 50px;
      letter-spacing: 0.2rem;
  }
}

  


  
  
  
 