@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
 background-color: #efefef;
}

 
 .header {
    color: #fff;
    padding: 10px 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 7vw;
  }
  .nav-links a {
    color: #111111;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
  }
  .nav-links a:hover {
    color: #E55C0E;
  }
  
  .nav-links a.router-link-active.router-link-exact-active {
    background-color: #d7d7d7;
    color: black;
    border-radius: 60px; 
    transition: background-color 0.3s ease; 
  }

  .title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    font-weight: 900;
    text-align: center;
    color:#E55C0E;
    margin: 0;
    letter-spacing: 1rem;
  }
  


  
  
  
 